/*
--------------------------
Header styles
--------------------------
*/

header {
  height: 500px;
  background-size: cover;
  background-position: 50%;
  text-align: center;
  position: relative;
}
