/*
--------------------------
Variables
--------------------------
*/

$primary-color: #343230;
$secondary-color: #ff6600;
$tertiary-color: #b6b2ae;

$primary-font-extra-light: "SofiaProExtraLight", sans-serif;
$primary-font-light: "SofiaProLight", sans-serif;
$primary-font: "SofiaProRegular", sans-serif;
